h1 {text-align: center;}
h1 {color: rgb(rgb(165, 62, 67));}

h2 {margin-left: 25%;
width: 200%;}

#maedore1 {margin-left: 25%;
width: 60%;}
 
#maedore2 {width: 60%;
margin-left: 25%;}

h3 {margin-left: 25%;
width: 120%;}

h4 {width: 50%;
margin-left: 50%;}

h1 {border-style: double;
    border-color: Red;
    border-size: 20px;}
